.panel {
	width: 500px;
	height: 400px;
	background-color: #FF0000;
	border-width: 5px;
	border-color: #000000;
	min-height:62px;
	min-width:400px;
}

body {
	background-image: url('../img/BackgroundBottom.png');
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0px;
	padding: 15px;
	background-repeat: no-repeat;
	background-color: #CCCCCC;
	background-position: right bottom;
	background-attachment: fixed;
	height:100%;
	overflow:hidden;
}


.panel_title{
	background-image:url('../img/canvas/Title_Bar_Center.png');
	background-repeat:repeat-x;
	padding:5px 5px 5px 10px;
	height:20px;
	/*width:100%;*/
	margin:0 0 0 0;
	font-size:small;
	font-weight:bold;
	color:#404040;
	z-index:0;
}

.panel_title_buttons{
	float:right;
	height:20px;
}

.caretDiv{
	width:20px;
	height:20px;
	background-image:url('../js/css/images/ui-icons_222222_256x240.png');
}

.close{
	height:20px;
	width:20px;
	background-image:url('../js/css/images/ui-icons_222222_256x240.png');
}

.minimize{
	height:20px;
	width:20px;
	background-image:url('../js/css/images/ui-icons_222222_256x240.png');
}

.expand{
	height:20px;
	width:20px;
	background-image:url('../js/css/images/ui-icons_222222_256x240.png');	
}

.settings{
	height:20px;
	width:20px;
	text-align:center;
	background-image:url('../js/css/images/ui-icons_222222_256x240.png');
}

.panel_feed{
	background-color:green;
	overflow:scroll;
	height:inherit;
	overflow-x:hidden;
	-ms-overflow-x:hidden;
	margin:auto 0 auto 0;
	min-height:60px;
}

.panel_feed_article{
	margin:0 0 0 0;
	background-color:#DDDDDD;
	height:auto;
}

.panel_feed_article_title{
	padding:5px 5px 5px 5px;
	min-height:15px;
	/*width:100%;*/
	margin:auto 0 auto 0;
	font-size:small;
	font-weight:bold;
	background:#DDDDDD;
}

.panel_feed_article_title:hover{
	background-color:#CCCCCC;
}

.panel_feed_article_title_buttons{
	float:right;
	height:15px;
}

.panel_feed_article_content{
	padding:0px 5px 5px 5px;
	margin:auto 0 auto 0;
}

.popup {
	border: 1px dotted #FFFFFF;
	position: absolute;
	z-index: 9999;
	left: 35%;
	top: 150px;
	width: 450px;
	background-color: #CCCCCC;
}
.popup .header {
	border: 1px solid #FFFFFF;
	padding: 5px;
	left: 0;
	right: 0;
	height: 25px;
	background-color: #C0C0C0;
	color: #333333;
}
.popup .header h1 {
	float:left;
	font-size:20px;
	padding:0;
}
.popup .header #buttons {
	float: right;
	height: 100%;
	vertical-align: middle;
}
.popup .content {
	padding: 10px;
	left:0;
	right:0;
	color:#000000;
}
.popup .footer {
	padding: 5px;
	left: 0;
	right: 0;
	color:#333333;
	text-align:right;
}
.popup a {
	color:#333333;
	border-bottom:0px;
	outline:none;
}
.popup a:hover {
	color:#000000;
}
