#panel {
	background-color: #00FF00;
	width: 200px;
	height: 100px;
}
#titlebar {
	background-color: #FFFF00;
	width: auto;
	height: 25px;
}
#panelContent {
	background-color: #FFFFFF;
	width: auto;
	height: 100%;
}
