.panel {
	width: 500px;
	height: 400px;
	background-color: #FF0000;
	border-width: 5px;
	border-color: #000000;
	min-height:100px;
	min-width:400px;
}

body {
	background-image: url('../img/BackgroundBottom.png');
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0px;
	padding: 15px;
	background-repeat: no-repeat;
	background-color: #CCCCCC;
	background-position: right bottom;
	background-attachment: fixed;
	height:100%;
}


.panel_title{
	background-image:url('../img/canvas/Title_Bar_Center.png');
	background-repeat:repeat-x;
	padding:5px 5px 5px 10px;
	height:20px;
	/*width:100%;*/
	margin:0 0 0 0;
	font-size:small;
	font-weight:bold;
	color:#404040;
}

.panel_title_buttons{
	float:right;
	height:20px;
}

.panel_feed{
	background-color:white;
	overflow:scroll;
	overflow-x:hidden;
	-ms-overflow-x:hidden;
	margin:auto 0 auto 0;
	max-height:400px;
}

.panel_feed_article{
	margin:0 0 0 0;
	background-color:#DDDDDD;
	height:auto;
}

.panel_feed_article_title{
	padding:5px 5px 5px 5px;
	min-height:15px;
	/*width:100%;*/
	margin:auto 0 auto 0;
	font-size:small;
	font-weight:bold;
	background:#DDDDDD;
}

.panel_feed_article_title:hover{
	background-color:#CCCCCC;
}

.panel_feed_article_title_buttons{
	float:right;
	height:15px;
}

.panel_feed_article_content{
	padding:0px 5px 5px 5px;
	margin:auto 0 auto 0;
}